@model IEnumerable<aleksanderreisid.Models.Document>

@{
    ViewBag.Title = "Home Page";
}

<!-- note: should work with jQuery 1.4 and up -->

<div class="container">
    <section>
        <!-- begin .boxes -->
        <div class="dg-container" id="dg-container">
            <ul class="dg-wrapper">

                @foreach (var item in Model)
                {
                    if (item.Place == 0)
                    {
                        <li class="shadowStyle">
                            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                            <img src="images/boxPic1.jpg" alt="" class="boxPic shadowStyle">
                            <p>@Html.DisplayFor(modelItem => item.Content) </p>
                            <div id="buttonM" class="button"><a href=""><img src="images/more.png" alt=""></a></div>
                        </li>
                    }
                }

            </ul>
            <br class="clearfloat" />
        </div>

        <!-- end .boxes -->
            @foreach (var item in Model)
            {
                if (item.Place == 1)
                {
                    <div class="middleTopic">
                        <div class="middleLabel"><h1>@Html.DisplayFor(modelItem => item.Name)</h1></div>
                        <p>@Html.DisplayFor(modelItem => item.Content) </p>
                    </div>
                }
            }

    </section>
    <!-- begin Right List -->

        @foreach (var item in Model)
        {
            if (item.Place == 2)
            {
                <div class="rightList shadowStyle">
                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                    <p>
                        <img src="images/pic.jpg" alt="" class="floatPic shadowStyle">
                        @Html.DisplayFor(modelItem => item.Content)
                    </p>
                </div>
            }
        }
                    
    <!-- end Right List -->
    <!-- begin Left List -->
   <!--  <div class="leftList">
        <h2>Species Profiles</h2>
        <ul>
            <li><a href="">Lorem Ipsum is simply dummy</a></li>
            <li><a href="">Text of the printing and typesetting industry</a></li>
            <li><a href="">The industry's standard dummy text</a></li>
            <li><a href="">Ever since the 1500s, when an unknown</a></li>
            <li><a href="">Printer took a galley of type and scrambled</a></li>
            <li><a href="">Make a type specimen book</a></li>
            <li><a href="">It has survived not only five centuries</a></li>
        </ul>
    </div> -->
    <!-- end Left List -->
    <br class="clearfloat" />
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.gallery.js"></script>
<script type="text/javascript">
    $(function () {
        $('#dg-container').gallery({ autoplay: true});
    });
</script>

